<div class="card mb-3">
    <img src="/assets/share/img/player/oscillogram.png" class="card-img-top" alt="..."
        style="width:100%; height:350px">
    <div class="card-body">
        <h5 class="card-title">Patienter</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div *ngIf="progress<100">
    <h1>Analyse en cours</h1>
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
</div>

<div *ngIf="progress==100">
    <h1>Fin analyse</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    <a href="#" class="btn btn-primary">Accueil</a>
</div>

<audio id="notification" src="../assets/share/audio/preview.mp3" autoplay="true" muted="muted"></audio>