<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Votre analyse</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/share/img/homeopathy/laboratory-tests.png" alt="Photo of a Shiba Inu" class="img-analyse">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a href="/play-sound" mat-button>Analyser</a>
    </mat-card-actions>
</mat-card>
<h2 class="text-center">Les principaux organes du corps humain</h2>
<p>Vous pouvez lancer une analyse spécifique dans liste ci-dessous.</p>
<div class="row">
    <div class="col-6" *ngFor="let analyse of analyseList">
        <mat-card class="list-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{analyse.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/share/img/analyse/{{analyse.picture}}.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    {{analyse.description | slice:1:100}}...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a href="analyse/{{analyse.id}}" mat-button>Détail</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>