<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Votre analyse</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/share/img/homeopathy/laboratory-tests.png" alt="Photo of a Shiba Inu" class="img-analyse">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a href="/analyses" mat-button>Analyser</a>
    </mat-card-actions>
</mat-card>
<h2 class="h2">Liste des plantes disponibles</h2>
<hr/>
<div class="row">
    <div class="col-6" *ngFor="let homeopathy of homeopatyList">
        <mat-card class="list-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{homeopathy.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/share/img/homeopathy/{{homeopathy.picture}}.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    {{homeopathy.description | slice:1:200}}...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a href="/homeopathy/{{homeopathy.id}}" mat-button>Détail</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>