<div class="card">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/share/img/home/homeopathy.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">homeopathy</h5>
                <p class="card-text">Nulla at tortor ut quam efficitur egestas. Cras auctor, enim eu congue efficitur,
                    enim diam volutpat neque, sed elementum augue nisl eu nisi. Ut nec lectus tincidunt, sagittis justo
                    ut, blandit turpis. Vestibulum vulputate leo et eros condimentum, sit amet laoreet purus
                    ullamcorper. Nulla facilisi. Nulla facilisi. Cras nec enim placerat, ultricies ex quis, molestie
                    felis. Duis mollis accumsan quam quis rutrum. Phasellus orci risus, posuere vitae justo sit amet,
                    imperdiet viverra magna. Curabitur enim tellus, auctor non mauris nec, tempor dictum urna. Vivamus
                    eget lectus non lorem condimentum convallis tincidunt sed justo. Donec vel risus at tellus efficitur
                    vehicula. Donec ultrices lacus a lectus volutpat ornare sed non urna. Praesent iaculis leo quis
                    sapien mattis placerat. Proin laoreet velit ut velit commodo accumsan.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="/homeopathies" class="btn btn-primary">Voir la liste</a>
            </div>
        </div>
    </div>
</div>