<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Homeopathies</mat-card-title>
        <mat-card-subtitle>voir la liste</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image src="/assets/share/img/home/homeopathy.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Nulla at tortor ut quam efficitur egestas. Cras auctor, enim eu congue efficitur,
            enim diam volutpat neque, sed elementum augue nisl eu nisi,
            Nulla at tortor ut quam efficitur egestas. Cras auctor, enim eu congue efficitur,
            enim diam volutpat neque, sed elementum augue nisl eu nisi...
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a href="/homeopathies" mat-button>Voir</a>
        <a href="/analyses" mat-button>Faire mon analyse</a>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pierres</mat-card-title>
        <mat-card-subtitle>voir la liste</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image src="/assets/share/img/home/stone.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Nunc nec nibh nunc. Mauris malesuada nisi mi. Aenean vitae aliquam augue, eu
                    scelerisque dolor. Sed neque magna, mollis vel purus ac, egestas sagittis justo...
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a href="/stones" mat-button>Voir</a>
    </mat-card-actions>
</mat-card>